<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Myclock"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="visitor_count_real_time" data-view="Graph" data-title="Current Visitors"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="2" data-sizey="2">
      <div data-id="hatebu_favs_tl" data-view="HatebuFavsTl" data-title="Hatebu Favs TL"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fitbit1" data-view="Fitbit" class="fitbit3"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="visitor_count" data-view="Number" data-title="Today PageViews"></div>
    </li>
  </ul>
</div>
